
.jslide {
    bottom: 0;
    color: #212121;
    display: table;
    font-family: Verdana, Geneva, sans-serif;
    font-size: .9rem;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    table-layout: fixed;
    top: 0;
    width: 100%;

    // ------------- MINI RESET

    *,
    *:before,
    *:after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    // -------------  LAYOUT

    &__navigation-holder,
    &__content {
        display: table-cell;
        vertical-align: top;
        
        &__header {
            height: 4em;
            line-height: 4em;
            padding: 0 1.25em;
        }
    }

    &__navigation-holder {
        border-right: 1px solid #dbdbdb;
        width: 200px;

        &__header {
            border-bottom: 1px solid #dbdbdb;
        }
    }

    &__content {
        background: #fafafa;
        position: relative;
        width: calc(100% - 200px);

        &__header {
            background-color: #00897b;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
            color: #FFFFFF;
        }
    }

    // ------------- NAVIGATION

    .jslide-navigation {
        list-style-type: none;
        margin: 0;
        padding: 0;

        &__item {
            a {
                color: #212121;
                display: block;
                font-size: .75rem;
                overflow: hidden;
                padding: 1.25em;
                text-decoration: none;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &--active a {
                color: #00897b;
                font-weight: bold;
            }

            &--active {
                background: #eeeeee;
            }

            &:hover {
                background: #eeeeee;
            }
        }
    }

    // ------------- PREV/NEXT BTN

    .jslide-btn {
        cursor: pointer;
        display: inline-block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 10%;

        svg {
            fill: #9e9e9e;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: fill .2s ease-out;
        }

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }

        &:hover svg {
            fill: #00897b;
        }
    }

    // ------------- SLIDES

    .jslide-slides {
        &__slide {
            display: none;
            line-height: 1.65;
            margin: 0 auto;
            max-width: calc(100vw - 300px - 20%);
            padding: 10%;
            text-align: center;

            img {
                max-width: 100%;
            }

            &--active {
                display: block;
            }
        }
    }
}
