
.jslide {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    &__navigation,
    &__content {
        display: table-cell;
        color: red;
        vertical-align: top;
    }

    &__navigation {
        width: 200px;
    }

    &__content {
        position: relative;
        width: calc(100% - 200px);
        background: grey;
    }
}

.jslide-btn {
    height: 100%;
    width: 10%;
    display: inline-block;
    top: 0;
    position: absolute;

    &--prev {
        left: 0;
    }

    &--next {
        right: 0;
    }
}

.jslide-navigation-item {
    padding: .25em;
    background: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--active {
        background: yellow;
    }
}

.jslide-slide {
    max-width: calc(100vw - 200px - 20%);
    margin: 0 auto;
    display: none;
    text-align: center;
    padding: 5%;

    &--active {
        display: block;
    }
}