.jslide {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.jslide *,
.jslide *:before,
.jslide *:after {
  box-sizing: inherit;
}

.jslide__navigation, .jslide__content {
  display: table-cell;
  color: red;
  vertical-align: top;
}

.jslide__navigation {
  width: 200px;
}

.jslide__content {
  position: relative;
  width: calc(100% - 200px);
  background: grey;
}

.jslide-btn {
  height: 100%;
  width: 10%;
  display: inline-block;
  top: 0;
  position: absolute;
}

.jslide-btn--prev {
  left: 0;
}

.jslide-btn--next {
  right: 0;
}

.jslide-navigation-item {
  padding: .25em;
  background: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jslide-navigation-item--active {
  background: yellow;
}

.jslide-slide {
  max-width: calc(100vw - 200px - 20%);
  margin: 0 auto;
  display: none;
  text-align: center;
  padding: 5%;
}

.jslide-slide--active {
  display: block;
}
